# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment Variables
.env

# IDE
.vscode/

# Alembic cache
*.pyc

# Logs
*.log

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# OS
.DS_Store
Thumbs.db